@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'NatoSans-Medium';
    src: url('/fonts/NotoSansKR-Medium.ttf') format('ttf');
}

html {
    font-family: 'NatoSans-Medium';
}

body {
    margin: auto;
}

nav ,div, span {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}


